<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-dark justify-content-between" style="padding: 8px 16px;">
      <!-- views/layouts/main.hbs -->
      <a class="navbar-brand" href="/">
        家庭記帳本
      </a>

    </nav>
  </header>
  <main>
    <div class="container mt-3">
      {{{ body }}}
    </div>
  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>
