
<form action="/records" method="POST">
 <div class="row mt-5">
  <div class ="col m-auto">
    <div class="row justify-content-center mt-5">
      <div class="col-2">
        <span class="text-danger">*</span>為必填欄位</p>
        </div>
      <div class="col-3">
        <h2>請輸入你的支出</h2>
      </div>
    </div>


  <div class="row mt-5 justify-content-center">
    <div class="col-auto">
      <label for="name" class="form-label h3">名稱<span class="text-danger">*</span>：</label>
      </div>

    <div class="col-4">
      <input type="text" class="form-control" id="name" aria-describedby="name" name="name" size="4" required>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-auto">
      <label for="date" class="form-label h3">日期<span class="text-danger">*</span>：</label>
    </div>
    <div class="col-4">
      <input type="date" class="form-control p-2 flex-grow-1" id="date" aria-describedby="date" placeholder="date"
        name="date" required>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-auto">
      <label for="date" class="form-label h3">類別<span class="text-danger">*</span>：</label>
      </div>
      <div class ="col-4">
      <select class="form-select" id="category" name="categoryId" >
        <option disabled selected>類別</option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="4">餐飲食品</option>
        <option value="5">其他</option>
      </select>
    </div>
  </div>

  <div class="row mt-5 justify-content-center">
    <div class="col-auto">
      <label for="amount" class="form-label h3">金額<span class="text-danger">*</span>：</label>
      </div>
      <div class="col-4">
      <input type="number" min="0" class="form-control p-2 flex-grow-1" id="amount" aria-describedby="amount" name="amount" required>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-5">
    <button type="submit" class="btn btn-success">新增支出</button>
  </div>
  </div>
  </div>
</form>
